section.certificate
  .container
    .row
      .col-xs-12.center-xs.first-xs
        h2 
          span Сертификат после<br>
          | обучения 
      .col-sm-1.hidden-xs
        .scroll.scroll--certificate
          span Сертификат
      .col-sm-5.col-xs-12
        p После прохождения курса на ваш e-mail будет отправлен <br>именной сертификат в отличном качестве <br>и в нашем фирменном стиле.
        p.hidden-xs Разрешение сертификата позволит распечатать <br>его в ближайшей фотостудии на плотной бумаге <br>формата А4 и повесить на стену или мудборд.
        p.coral Более 500 наших учеников уже получили наши сертификаты     
        a(href="#pop-try" data-pop).btn.btn--certificate.hidden-xs Хочу попробовать
      .col-sm-5.col-xs-12.first-xs.last-sm
        img.lazy(data-src="img/course/certificate.png", alt="")
      .col-sm-1