section.info#info
  .container
    .row.center-xs
      .col-sm-4.col-xs-12.wow.fadeInUp
        .info__block
          h2 Базовый +
          p уровень <br>сложности
      .col-sm-4.col-xs-12.wow.fadeInUp
        .info__block
          h2 8 уроков
          span + домашние задания
          p продолжительность <br>курса
      .col-sm-4.col-xs-12.wow.fadeInUp
        .info__block
          h2 5990₽
          p доступная <br>цена