section.price.hidden-xs#price
  .container
    .row
      .col-xs-12.center-xs
        h2 Стоимость
          span курса
      .col-sm-1
        .scroll.scroll--price
          span Стоимость обучения
      .col-sm-5
        .price__block.price__block--1
          h3 Стандарт
          h4 Курс включает в себя:
          ul
            li 8 видео-уроков; 
            li Чат с преподавателем и другими<br>учениками в Telegram;
            li Базу знаний в области рисования
            li Домашние задания по каждому<br>уроку курса.
            li
              span 3 дополнительных видео -урока: <br>«Штрих», «Фактуры», «Акварель»
          h4 Для кого подходит?
          p 
            i Курс подойдет как для начинающих <br>художников, так и для тех кто уже <br>умеет рисовать, но хочет повысить <br>уровень своего мастерства. 
          .price__block__price 5990₽
          a.btn.btn--buy.btn--buy--course(href="#pop-checkout-course2-standart" data-pop) Купить
      .col-sm-5
        .price__block.price__block--2
          .star
            .star__block
              h4 Рекомендуем
              p Как показывает многолетняя практика, индивидуальная работа имеет более эффективный и качественный результат. 
              p Преподаватель рассматривает ученика как художника, личность, дает адекватную оценку его способностям и помогает избежать множества ошибок.
              p На протяжении всего обучения ученик получает консультацию и поддержку профессионала, что позволяет быстрей овладеть необходимыми знаниями и художественными навыками.
          h3 Индивидуальный
          h4 Курс включает в себя:
          ul
            li 8 видео-уроков; 
            li Чат с преподавателем и другими<br>учениками в Telegram;
            li
              span Индивидуальный чат <br>с преподавателем курса;
            li Базу знаний в области рисования
            li 
              span Домашние задания с проверкой, <br>последующими комментариями <br>и советами от преподавателя.
            li
              span 3 дополнительных видео -урока: <br>«Штрих», «Фактуры», «Акварель»
          h4 Для кого подходит?
          p 
            i Курс подойдет как для начинающих <br>художников, так и для тех кто уже <br>умеет рисовать, но хочет повысить <br>уровень своего мастерства. 
          .price__block__price 9990₽
          a.btn.btn--buy.btn--buy--course(href="#pop-checkout-course2-individual" data-pop) Купить

section.price-m.hidden-sm
  .container
    .row
      .col-xs-12
        h2 Cтоимость
          span курса
        p Выберите тариф:
        .price__tabs
          ul.tabs
            li.is-active Cтандарт
            li Индивидуальный
              .star
          .price__tab
            h4 Курс включает в себя:
            ul
              li 8 видео-уроков; 
              li Чат с преподавателем и другими<br>учениками в Telegram;
              li Базу знаний в области рисования
              li Домашние задания по каждому<br>уроку курса.
              li
                span 3 дополнительных видео -урока: <br>«Штрих», «Фактуры», «Акварель»
            h4 Для кого подходит?
            p 
              i Курс подойдет как для начинающих художников, так и для тех кто уже умеет рисовать, но хочет повысить уровень своего мастерства. 
            a.btn.btn--buy.btn--buy--course(href="#pop-checkout-course1-standart" data-pop) купить за 5990₽
          .price__tab
            h4 Курс включает в себя:
            ul
              li 8 видео-уроков; 
              li Чат с преподавателем и другими<br>учениками в Telegram;
              li
                span Индивидуальный чат <br>с преподавателем курса;
              li Базу знаний в области рисования
              li 
                span Домашние задания с проверкой, <br>последующими комментариями <br>и советами от преподавателя.
              li
                span 3 дополнительных видео -урока: <br>«Штрих», «Фактуры», «Акварель»
            h4 Для кого подходит?
            p 
              i Курс подойдет как для начинающих <br>художников, так и для тех кто уже <br>умеет рисовать, но хочет повысить <br>уровень своего мастерства. 
            .price__tab__recomended
              h4 Рекомендуем
              p Как показывает многолетняя практика, индивидуальная работа имеет более эффективный и качественный результат. 
              p Преподаватель рассматривает ученика как художника, личность, дает адекватную оценку его способностям и помогает избежать множества ошибок.
              p На протяжении всего обучения ученик получает консультацию и поддержку профессионала, что позволяет быстрей овладеть необходимыми знаниями и художественными навыками.
            a.btn.btn--buy.btn--buy--course(href="#pop-checkout-course1-individual" data-pop) Купить за 9990₽