section.teacher
  .container
    .row
      .col-sm-1.hidden-xs
        .scroll.scroll--teacher
          span Преподаватель курса
      .col-xs-12.hidden-sm
        h2 
          span Преподаватель
          | курса
      .col-sm-4.col-xs-12
        .teacher__block
          .teacher__block__photo
            img.lazy(data-src="img/course/teacher-2.png", alt="")
          h3.hidden-sm Лидия Ломейко
          a.btn.btn--teacher.hidden-xs(href="#pop-works-2" data-pop) Работы Лидии
      .col-sm-7.col-xs-12
        h2.hidden-xs
          span Преподаватель
          | курса
        h3.hidden-xs Лидия Ломейко
        p Иллюстратор, график и дизайнер. 
        p Окончила художественную школу им. Е.А. Куликова и ведущий государственный вуз страны РГУТИС по направлению "Графический дизайн".
        p Главные свои награды Лидия получила в таких проектах как международный конкурс на лучший дизайн упаковки "Заводной апельсин" и конкурс молодых дизайнеров "Золотая Линия".
        p Также художница разрабатывала дизайн-концепцию игры для Всероссийской Научно-практической конференции школьников "Обнинск: от лаборатории "Б" до 1-ого Наукограда".
        p На сегодняшний день, Лидия является преподавателем академического рисунка в художественной студии и занимается подготовкой абитуриентов к поступлению в высшие учебные заведения.
        a.btn.btn--teacher.hidden-sm(href="pop-works-2.html") Работы Лидии