section.this
  .container
    .row
      .col-sm-1.hidden-xs.first-xs
        .scroll.scroll--this
          span Что такое живые персонажи?
      .col-xs-12.hidden-sm.first-xs
        h2 Живые персонажи
          span - это?
      .col-sm-6.col-xs-12.first-sm
        h2.hidden-xs Живые<br>персонажи
          span - это?
        p Живые персонажи - это стилизация и карикатура того или иного образа. Каждый день ты видишь невероятных персонажей в мульфильмах, книгах, видеоиграх и рекламе. Они живут в своих сказочных мирах и параллельных вселенных. Если ты любишь фантастические миры, персонажей и у тебя есть желание нарисовать своих героев, но не хватает опыта, то этот курс создан именно для тебя!
      .col-sm-5.col-xs-12.first-xs
        .this__image
          img.lazy(data-src="img/course/this-2.jpg", alt="")
