---
title: Курс "Архитекрутный скетчнг" | Bombs Art
description: Онлайн-курс по архитектурному скетчингу базового уровня сложности. Научим рисовать всего за 8 занятий!
keywords: скетчинг, архитектура скетчинг, курсы скетчинга, онлайн курсы скетчинга, скетчинг обучение
og_title: Курс "Архитекрутный скетчнг" | Bombs Art
og_description: Онлайн-курс по архитектурному скетчингу базового уровня сложности. Научим рисовать всего за 8 занятий!
bodyClass: course
headerClass: header-course
---
extends layouts/_layout
block content

  include course-1/intro

  include course-1/info

  include course-1/price

  include course-1/this

  include course-1/program

  include course-1/teacher

  include course-1/material

  include course-1/certificate

  include course-1/contact