---
title: Курс "Живые персонажи" | Bombs Art
description: Онлайн-курс по рисованию персонажей. Научим рисовать всего за 8 занятий!
keywords: рисование персонажей, рисование персонажей обучение, курс персонажи, курс рисования персонажей
og_title: Курс "Живые персонажи" | Bombs Art
og_description: Онлайн-курс по рисованию персонажей. Научим рисовать всего за 8 занятий!
bodyClass: course
headerClass: header-course
---
extends layouts/_layout
block content

  include course-2/intro

  include course-2/info

  include course-2/price

  include course-2/this

  include course-2/program

  include course-2/teacher

  include course-2/material

  include course-2/certificate

  include course-2/contact