footer.footer.hidden-xs
  .container
    .row
      .col-sm-2
        .footer__logo
          img(src="img/logo.svg", alt="")
      .col-sm-2
        h3 Связь с нами
        p Москва:
          span +7 (499) 653-66-01
        a(href="#pop--call" data-pop).footer__order Заказать звонок
      .col-sm-2
        h3
        p E-mail:
          span info@bombs.ru
      .col-sm-3
        h3
        p WhatsApp / Telegram:
        .footer__social
          a(href="https://api.whatsapp.com/send?phone=79099519047")
            i.icon.icon-whatsapp
          a(href="tg://resolve?domain=bombsartbot")
            i.icon.icon-telegram_contact
      .col-sm-3
        h3 Мы в соц. сетях
        p Instagram / YouTube:
        .footer__social
          a(href="https://www.instagram.com/bombs_art/")
            i.icon.icon-instagram
          a(href="https://www.youtube.com/channel/UCxcMqB8HLpRhJWXRjeA4sOg")
            i.icon.icon-youtube
  .footer__bottom
    .container
      .row.middle-xs
        .col-sm-3
          p © 2018 Bombs online school
        .col-sm-2.col-sm-offset-7
          a(href="http://excv.ru/?utm_sourse=bombs.ru").footer__bottom__logo
            img(src="img/excv.svg", alt="")

  
  

footer.footer-m.hidden-sm
  .container
    .row
      .col-xs-12
        .footer__block
          h3 Связь с нами
          .row
            .col-xs-6
              p Москва:
                a.phone(href="tel:+7 (499) 653-66-01") +7 (499) 653-66-01 
            .col-xs-6
              p E-mail:
                a(href="mailto:info@bombs.ru") info@bombs.ru
      .col-xs-12
        .footer__block
          h3 Мы в соц. сетях
          p Instagram / YouTube / VK / Telegram:
          .footer__social
            a(href="https://www.instagram.com/bombs_art/")
              .icon.icon-instagram
            a(href="https://www.youtube.com/channel/UCxcMqB8HLpRhJWXRjeA4sOg")
              .icon.icon-youtube
            a(href="https://vk.com/bombs_art")
              .icon.icon-vk-2
            a(href="tg://resolve?domain=bombs_art")
              .icon.icon-telegram_contact
  .footer__bottom
    .container
      .row.middle-xs
        .col-xs-6
          p © 2018 Bombs online school
        .col-xs-6.end-xs
          a(href="http://excv.ru/?utm_sourse=bombs.ru").footer__bottom__logo
            img(src="img/excv.svg", alt="")

include _pop
