- var svgSprite = 'img/sprite.svg'

mixin social(cl)
	.intro__social(class=`${cl}`)
		.intro__social__img
			img(src="img/share/share.svg", alt="")
		.intro__social__block
			.intro__social__hidden
				a(href="tg://resolve?domain=@bombs_art").telegram
					i.telegram
				a(href="#").twitter
					i.twitter
				a(href="#").ok
					i.ok
				a(href="#").vk
					i.vk
				a(href="#").fb
					i.fb
		span поделиться

mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="../img/sprite.svg#icon-" + name)
