.icon-arrow {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-bombs {
  width: 1.04em;
  height: 1em;
  fill: #000;
}
.icon-check {
  width: 1.33em;
  height: 1em;
  fill: #FB4848;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: #B5B8C1;
}
.icon-dizlike {
  width: 1.03em;
  height: 1em;
  fill: none;
}
.icon-fb {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-key {
  width: 1.15em;
  height: 1em;
  fill: #FB4848;
}
.icon-like {
  width: 1.03em;
  height: 1em;
  fill: none;
}
.icon-ok {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-telegram {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-telegram_contact {
  width: 1.19em;
  height: 1em;
  fill: #FFF;
}
.icon-twitter {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-uEA01-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-user {
  width: 0.88em;
  height: 1em;
  fill: #000;
}
.icon-vk-2 {
  width: 1.71em;
  height: 1em;
  fill: #FEFEFE;
}
.icon-vk {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-whatsapp {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-youtube {
  width: 0.77em;
  height: 1em;
  fill: #FFF;
}
