section.blockquote
  .container
    .row.center-xs.middle-xs
      .col-sm-8.end-xs
        .blockquote__block
          p Я еще ничего не могу, <br>зато я умею учиться.
        span Микеланджело Буонарроти