section.education.hidden-xs
  .container
    .row
      .col-sm-8.col-sm-offset-4
        .education__top
          .education__top__image
            img.lazy(data-src="img/education-border.svg", alt="")
          h4 Больше никаких 
            .education__top__before.lazy(data-src="img/education-1.png")
            .education__top__after.lazy(data-src="img/education-2.png")
            span смятых рисунков
      .col-sm-1
        .scroll.scroll--5
          span Особенности обучения
      .col-sm-5
        h2 Особенности
          span обучения
        h3 Личный кабинет 
        p Доступ сразу ко всей необходимой информации в одном месте, а именно к видеоурокам, чату с преподавателем и познавательным статьям, которые можно просматривать на всех устройствах.
        h3 Любое место и время 
        p Возможность прохождения обучения не только дома, но и в любом другом месте, где имеется доступ в интернет.  
        h3 Чат с преподавателем
        p Получение консультации по выполненным заданиям и наблюдение за разбором рисунков других учеников, которые позволят не допускать чужих ошибок в своих работах. 
        h3 Домашнее задание 
          span с проверкой
        p Получение консультации по выполненным заданиям и наблюдение за разбором рисунков других учеников, которые позволят не допускать чужих ошибок в своих работах. 
        h3 Сертификат
        p Получения фирменного, именного сертификата после прохождения курса.
      .col-sm-6
        .education__slider.sticky.lazy(data-src="img/bg-education.png")
          .swiper-container.education-slider
            .swiper-wrapper
              .swiper-slide
                img.lazy(data-src="img/education/1.jpg", alt="")
              .swiper-slide
                img.lazy(data-src="img/education/2.jpg", alt="")
              .swiper-slide
                img.lazy(data-src="img/education/3.jpg", alt="")
          .swiper-button-prev.swiper-button-prev-education
            i.icon.icon-arrow
          .swiper-button-next.swiper-button-next-education
            i.icon.icon-arrow
            
section.education-m.hidden-sm
  .container
    .row
      .col-sm-8.col-sm-offset-4
        .education__top
          .education__top__image
            img.lazy(data-src="img/education-border-m.svg", alt="")
          h4.hidden-sm Больше никаких
            .education__top__before.lazy(data-src="img/education-1.png")
            .education__top__after.lazy(data-src="img/education-2.png") 
            span смятых 
            span рисунков
      .col-xs-12.center-xs
        h2 Особенности
          span обучения
      .col-xs-12
        h3 Личный кабинет 
        p Доступ сразу ко всей необходимой информации в одном месте, а именно к видеоурокам, чату с преподавателем и познавательным статьям, которые можно просматривать на всех устройствах.
        .education__slider.lazy(data-src="img/bg-education.png")
          .swiper-container.education-slider
            .swiper-wrapper
              .swiper-slide
                img.lazy(data-src="img/education/1.jpg", alt="")
              .swiper-slide
                img.lazy(data-src="img/education/2.jpg", alt="")
              .swiper-slide
                img.lazy(data-src="img/education/3.jpg", alt="")
          .swiper-button-next.swiper-button-next-education
            i.icon.icon-arrow   
      .col-xs-12
        .education__tabs
          h3 любое место<br>и время 
            i.icon.icon-arrow
          p Возможность прохождения обучения не только дома, но и в любом другом месте, где имеется доступ в интернет.  
        .education__tabs 
          h3 Чат с<br>преподавателем
            i.icon.icon-arrow
          p Получение консультации по выполненным заданиям и наблюдение за разбором рисунков других учеников, которые позволят не допускать чужих ошибок в своих работах. 
        .education__tabs
          h3 Домашнее задание 
            i.icon.icon-arrow
            span с проверкой
          p Получение консультации по выполненным заданиям и наблюдение за разбором рисунков других учеников, которые позволят не допускать чужих ошибок в своих работах. 
        .education__tabs
          h3 Сертификат
            i.icon.icon-arrow
          p Получения фирменного, именного сертификата, после прохождения курса.