section.faq#faq
  .container
    .faq__before.hidden-xs.lazy(data-src="img/bg-faq.png")
    .row
      .col-xs-12.center-xs
        h2 Вопрос
          span ответ
      .col-sm-1.hidden-xs
        .scroll.scroll--6
          span Вопрос-ответ
      .col-sm-5.col-xs-12.faq__margin
        .faq__block
          .flex.between-xs
            h3 Подойдет ли мне курс,<br> если я совсем не умею рисовать?
            .faq__block__circle
              span +
          .faq__block__hidden 
            p Да. Курс подойдет как для начинающих художников, так и для тех кто уже умеет рисовать, но хочет повысить уровень своего мастерства. Однако следует понимать, что мы ждем от вас добросовестной работы над заданиями — темп будет динамичным, никакой воды, только практика, очень много практики.
        .faq__block
          .flex.between-xs
            h3 Смогу ли я просматривать видео-урок<br> в личном кабинете без доступа в интернет?
            .faq__block__circle
              span +
          .faq__block__hidden 
            p К сожалению, вы не сможете просматривать урок без доступа в интернет, т.к. все занятия находятся в личном кабинете на сайте. 
        .faq__block
          .flex.between-xs
            h3 Как происходит общение<br> с преподавателем?
            .faq__block__circle
              span +
          .faq__block__hidden 
            p Вы можете написать преподавателю вопросы в личном кабинете, а также в общий чат в телеграме.
        .faq__block
          .flex.between-xs
            h3 Какие возрастные ограничения<br> имеет программа обучения?
            .faq__block__circle
              span +
          .faq__block__hidden 
            p Курсы не имеют возрастного ограничения, учиться рисовать можно в любом возрасте.
        .faq__block
          .flex.between-xs
            h3 А что, если мне не понравился<br> курс?
            .faq__block__circle
              span +
          .faq__block__hidden 
            p Если после первого занятия Вы понимаете, что курс вам не подходит, просто напишите нам, и мы вернем деньги.
        .faq__block
          .flex.between-xs
            h3 Навсегда ли я получаю доступ к курсу?
            .faq__block__circle
              span +
          .faq__block__hidden 
            p Мы открываем доступ к курсам на 6 месяцев, чтобы ты мог повторить уроки несколько раз.
      .col-sm-5.col-xs-12
        .faq__block
          .flex.between-xs
            h3 Сколько времени идет урок<br>и сколько времени потребуется<br> на его выполнение?
            .faq__block__circle
              span +
          .faq__block__hidden 
            p В среднем продолжительность урока составляет 30-90 минут. Срок выполнения домашнего задания индивидуален и зависит от изначальных способностей ученика.
        .faq__block
          .flex.between-xs
            h3 Как я получу доступ к чату в telegram<br>с преподавателями и учениками?
            .faq__block__circle
              span +
          .faq__block__hidden 
            p После приобретения курса вы получите доступ в личный кабинет, а также ссылки и инструкции по добавлению в закрытый чат со всеми учениками и преподавателем.
        .faq__block
          .flex.between-xs
            h3 Я из другой страны/города,<br>смогу ли я учиться у вас?
            .faq__block__circle
              span +
          .faq__block__hidden 
            p Да, так как наши онлайн - курсы предназначены для обучения по всему миру. Также мы планируем запустить курсы на английском языке.
        .faq__block
          .flex.between-xs
            h3 Возможно ли проходить обучение с мобильного телефона?
            .faq__block__circle
              span +
          .faq__block__hidden 
            p Да, у личного кабинета есть мобильная версия, поэтому вы спокойно можете заниматься даже с телефона.
        .faq__block
          .flex.between-xs
            h3 Что мне понадобиться для выполнения заданий?
            .faq__block__circle
              span +
          .faq__block__hidden 
            p Для каждого курса мы подготовили подробный список материалов, которые рекомендуем приобрести, если у вас их еще нет.
        .faq__block
          .flex.between-xs
            h3 Вы хотите приобрести подарочный сертификат?
            .faq__block__circle
              span +
          .faq__block__hidden 
            p Если вы хотите подарить наш курс другу или близкому человеку, мы сделаем для вас красивый подарочный сертификат. Его можно сделать именным и тогда подарок будет еще приятнее. Сертификат будет готов в течение рабочего дня с момента заказа, затем мы вышлем его в хорошем качестве на указанную вами почту. 
            p Чтобы заказать сертификат, напишите или позвоните нам, администратор ответит на все вопросы и быстро все оформит.
        #loadmore.hidden-sm показать еще вопросы