section.learn#news
  .container
    .row
      .col-xs-12.center-xs
        h2 Ты
          span научишься
      .col-sm-4.col-xs-12.center-sm
        .learn__block
          i.icon.icon-bombs
          p Выработке <br>собственного стиля
      .col-sm-4.col-xs-12.center-sm
        .learn__block.learn__block--2
          i.icon.icon-bombs
          p.hidden-xs Воплощать свои идеи<br> на бумаге, фантазировать
          p.hidden-sm Воплощать свои<br> идеи на бумаге,<br> фантазировать
      .col-sm-4.col-xs-12.center-sm
        .learn__block
          i.icon.icon-bombs
          p Рисовать и делать <br>это эффектно
