//BEGIN intro
section.intro.intro--course
  .progressive-image.intro__before.hidden-xs
    .loadingImage.intro__before(style="background-image: url('img/bg-intro-course-light.png')" data-image="img/bg-intro-course.png")
    .overlay.intro__before
  .progressive-image.intro__before.hidden-sm
    .loadingImage.intro__before(style="background-image: url('img/bg-intro-course-m-light.png')" data-image="img/bg-intro-course-m.png")
    .overlay.intro__before
  .container
    .row.middle-xs
      .col-xs-12
        h1 Архитектурный<br>скетчинг
        p Более 500 наших учеников уже<br> научились воплощать свои идеи<br> всего за 8 уроков  
        .intro__buttons
          a.btn.btn--intro--course(href="#pop-checkout-course1-standart" data-pop) Купить за 
            b 5990₽
          a(href="#" data-src="https://www.youtube.com/embed/oZekZx5NtW4?rel=0").intro__video
            .intro__video__play
              img(src="img/play.svg", alt="")
            span о курсе за 60 сек
  a(href="#info").intro__bottom.hidden-xs
    span особенности
    .intro__bottom__block
      img(src="img/arrow.svg", alt="")
    span курса
  +social('hidden-xs')

//END intro