section.material
  .container
    .material__before.lazy(data-src="img/course/bg-material.png")
    .row
      .col-sm-1.hidden-xs
        .scroll.scroll--material
          span Материалы
      .col-sm-5.col-xs-12
        h2 
          span материалы<br>для
          | обучения 
        p Все материалы ты сможешь приобрести <br>в любом художественном магазине!
        a.hidden-sm.btn.btn--material(href="#pop-material" data-pop) Смотреть список
      .col-sm-6.hidden-xs
        ul.material
          li Цветные (набор 12-24 шт.) и простые (2М,Т) <br>карандаши (KOH-I-NOOR)
          li Черная гелевая ручка (PILOT 0,5 мм.)
          li Черный линер (FABER-CASTELL 1мм.)
          li Акварель (НЕВСКАЯ ПАЛИТРА 12 цветов)
          li Белая, черная, бирюзовая гуашь <br>(МАСТЕР КЛАСС или СОНЕТ 50 мл.
          li Кисти (Из шерсти белок №2,№4; <br>Плоская квадратная кисть, синтетика №11)
          li Линейка ( 15-30 см.)
          li Мастихин (СОНЕТ 1010).
          li Белая бумага А4 (папка с листами); <br>светло-голубая бумага (можно и другой оттенок) <br>акварельная бумага А4, 1 лист.