section.teacher
  .container
    .row
      .col-sm-1.hidden-xs
        .scroll.scroll--teacher
          span Преподаватель курса
      .col-xs-12.hidden-sm
        h2 
          span Преподаватель
          | курса
      .col-sm-4.col-xs-12
        .teacher__block
          .teacher__block__photo
            img.lazy(data-src="img/course/teacher-1.png", alt="")
          h3.hidden-sm Любовь Калугина
          a.btn.btn--teacher.hidden-xs(href="#pop-works" data-pop) Работы Любови
      .col-sm-7.col-xs-12
        h2.hidden-xs
          span Преподаватель
          | курса
        h3.hidden-xs Любовь Калугина
        p Графический дизайнер, иллюстратор и график. 
        p Окончила детсткую школу искусств и получила высшее профессиональное художественное образование в ведущем государственном университете страны РГУТИС. 
        p Любовь является неоднократным лауреатом международных конкурсов молодых дизайнеров и художников. Один из ее проектов по продвижению эко-туризма в России участвовал в 6-ой Международной Научной Конференции и был опубликован в сборнике "Наука и образование".
        p В 2015 г. разработала новую дизайн – концепцию пресс – карт и пригласительных для Союза Журналистов Москвы, после чего получила награду и благодарность от представителей Центрального Дома Журналистов.
        p Сейчас художница занимается графикой, дизайном, скетчингом и живописью.
        a.btn.btn--teacher.hidden-sm(href="pop-works.html") Работы Любови