section.this
  .container
    .row
      .col-sm-1.hidden-xs.first-xs
        .scroll.scroll--this
          span Что такое скетч?
      .col-xs-12.hidden-sm.first-xs
        h2 архитектурный<br>скетчинг 
          span - это?
      .col-sm-6.col-xs-12.first-sm
        h2.hidden-xs архитектурный<br>скетчинг 
          span - это?
        p Архитектурный (городской) скетч - это одно из самых <br>современных и популярных направлений в рисунке <br>на сегодняшний день. Главное его преимущество <br>заключается в том, что зарисовка выполняется <br>в довольно быстром темпе и позволяет в короткий <br>промежуток времени донести свои идею и замысел!
      .col-sm-5.col-xs-12.first-xs
        .this__image
          img.lazy(data-src="img/course/this-1.png", alt="")
